body {
    padding: 0;
    margin: 0;

    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: normal;
    color: #333333;
}

.container {
    width: 1380px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    bottom: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.section-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
}

.section-num {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #06A9B3;

    margin: 0 0 60px 117px;
    position: relative;
}

.section-num::before {
    content: "";

    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #06A9B3;

    position: absolute;
    top: 50%;
    left: -117px;
    transform: translateY(-50%);
}

.section-num::after {
    content: "";

    width: 84px;
    height: 0;
    border-top: 1px solid #06A9B3;

    position: absolute;
    top: 50%;
    left: -92px;
    transform: translateY(-50%);
}

.button {
    display: inline-block;
    padding: 16px 32px;
    background: #06A9B3;

    text-align: center;
    font-weight: 500;
    line-height: 20px;
    color: white;
    text-decoration: none;
}

.main-header {
    background: #F2F8FB;

    font-weight: normal;
    line-height: 20px;
}

.main-header p {
    margin: 0;
}

.main-nav {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
}

.header-menu-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    list-style: none;
    margin: 0;
    padding: 30px 0;
}

.header-menu-item {
    margin-right: 64px;
}

.main-header .header-link {
    text-decoration: none;
    color: #06A9B3;
}

.header-menu-item:last-child {
    margin-right: 0;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px 0 30px;
}

.search-wrapper {
    padding: 32px 0;
    margin-right: 64px;
}

.search-wrapper a {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../img/search-icon.png") no-repeat center;
}

.user-nav {
    padding: 30px 0;
}

.promo {
    padding-bottom: 100px;
    background-color: #F2F8FB;
}

.promo-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 0 24px;
}

.promo-city {
    grid-area: 1/2/2/4;

    margin: 80px 0 0;
    font-weight: normal;
    line-height: 20px;
    opacity: 0.3;
}

.main-title {
    grid-area: 2/2/3/8;
    z-index: 1;

    margin: 10px 0;
    font-size: 44px;
    line-height: 62px;
}

.promo-text {
    grid-area: 3/2/4/8;

    margin: 10px 0 40px;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    z-index: 1;
}

.promo-button-wrapper {
    grid-area: 4/2/5/4;

    margin: 0 0 85px;
}

.socials-list {
    grid-area: 5/2/6/5;
    display: flex;
    align-items: flex-start;

    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.socials-item {
    margin-right: 72px;
    width: 45px;
    height: 45px;
}

.socials-item:last-child {
    margin-right: 0;
}

.socials-item-fb {
    background: url("../img/fb-icon.png") no-repeat center;
}

.socials-item-inst {
    background: url("../img/inst-icon.png") no-repeat center;
}

.socials-item-vk {
    background: url("../img/vk-icon.png") no-repeat center;
}

.promo-img-container {
    grid-area: 1/6/-1/13;
}

.promo-img-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-controls {
    grid-area: 5/6/6/-1;
    display: flex;
    align-items: center;
}

.slider-controls button {
    width: 93px;
    height: 64px;
    background: white;
    border: 0;
    padding: 0 12px;
    margin: 0;
    font-size: 0;
    outline: none;
    position: relative;

}

.slider-controls button::before {
    content: "";

    width: 30px;
    height: 0;
    border-top: 2px solid #06A9B3;
}

.slider-controls button::after{
    content: "";

    width: 10px;
    height: 10px;
    border: 2px solid #06A9B3;
    border-left: transparent;
    border-bottom: transparent;
}

button.button-prev {
    padding-left: 0;
}

.button-prev::before {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
}

.button-prev::after {
    position: absolute;
    top: 50%;
    right: 42px;
    transform: translateY(-50%) rotate(225deg);
}

button.button-next {
    padding-right: 0;
}

.button-next::before {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
}

.button-next::after {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%) rotate(45deg);
}

.slider-page {
    margin: 0 30px 0 auto;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.13em;
    text-align: right;
    color: #fff;
}

.perchance {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 24px;

    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.perchance::before {
    content: "01";

    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    color: #EAF2F6;

    position: absolute;
    left: 147px;
    top: 100px;
}

.perchance::after {
    content: "Место";

    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    color: #EAF2F6;

    position: absolute;
    transform: rotate(-90deg)  translate(-280px, 69px);
}

.perchance header {
    grid-column: 5/9;
}

.perchance .section-num::before {
    content: "01";
}

.perchance-content {
    grid-column: 1/-1;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 24px;
}

.perchance-text {
    grid-column: 5/9;
}

.perchance-content img {
    grid-column: 5/9;
}

.aside-right-text {
    grid-column: 10/12;

    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

.aside-left-text {
    grid-column: 2/4;

    font-size: 14px;
    line-height: 24px;
}

img.big-pic {
    grid-column: 2/-2;

    margin: 24px 0;
}

.perchance-content q {
    grid-column: 4/10;

    font-weight: normal;
    font-size: 22px;
    line-height: 40px;

    padding-left: 30px;
    border-left: 2px solid #06A9B3;
}

.perchance-button-wrapper {
    grid-column: 5/8;

    margin-top: 20px;
}

.catalog {
    padding-top: 100px;
    padding-bottom: 140px;
    background: #F2F8FB;
}

.catalog header {
    text-align: center;
}

.catalog .section-num {
    display: inline-block;
}

.catalog .section-num::before {
    content: "02";
}

.catalog-title {
    margin: 0 0 40px;
}

.catalog-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px 24px;

    list-style: none;
    padding: 0;
    margin: 0;
}

.catalog-item {
    grid-column: span 3;

    display: grid;
    grid-template-rows: 220px auto;
    grid-template-columns: 3fr;
    grid-row-gap: 16px;

    border: 1px solid #CFDCE3;
    background: white;
}

.catalog-item-horizontal {
    grid-column: 3/11;

    display: grid;
    grid-template-columns: 327px auto;
    grid-template-rows: auto;
    gap: 0 24px;
}

.catalog-item-content {
    padding: 0 24px 24px;
}

.catalog-item-horizontal .catalog-item-content {
    padding: 20px 24px 24px 0;
}

.catalog-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catalog-item-title {
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;

    margin: 0 0 10px;
}

.catalog-item-size {
    font-weight: normal;
    line-height: 20px;
    opacity: 0.3;

    margin: 10px 0 20px;
}

.catalog-item dl {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
    gap: 0 50px;

    padding: 15px 0 0;
    margin: 20px 0 0;
    border-top: 2px solid #EAF2F6;
}

.catalog-item-horizontal dl {
    gap: 0 179px;
}

.catalog-item dt {
    margin: 0;
    padding: 0;

    line-height: 20px;
}

.catalog-item dd {
    grid-row: 1/2;

    font-size: 32px;
    line-height: 36px;

    padding: 0;
    margin: 0;
}